{% extends 'base.html.twig' %}

{% block title %}New Legajo{% endblock %}

{% block body %}
    <h1>Create new Legajo</h1>

    {{ include('registro/legajo/_form.html.twig') }}

    <a href="{{ path('registro_legajo_index') }}">back to list</a>
{% endblock %}
